.Dashboard_container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    gap: 6rem;
    flex-direction: column;
    
}

.Dashboard_contant{
    /* border: 1px solid; */
    padding: 2rem;
    border-radius: 5px;
    text-align: center;
    width: 250px;
    height: 200px;
    background: #56738b;
    color: rgb(255, 255, 255);
}

.Dashboard_contant i{
    padding-bottom: 1rem;
}

.Dashboard_contant:nth-child(1) i {
    color: #ffffff; 
    font-size: 40px;
}

.Dashboard_contant:nth-child(2) i{
    color: #ffffff; 
    font-size: 40px;
}

.Dashboard_contant:nth-child(3) i{
    color: #ffffff; 
    font-size: 40px;
}
.Dashboard_contant:nth-child(4) i{
    color: #ffffff; 
    font-size: 40px;
}
