
.create_exam_content {

    /* margin: 3rem; */
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.examForm_Contant-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.examContainer{
    /* background: #c9d4dd; */
    padding: 1rem;
    border-radius: 10px;
}

.Exams_contant{
    display: flex;
    flex-wrap: wrap;
    padding: 1rem;
    gap: 1rem;
    justify-content: space-between;
    background: #ffffff;
}

.examSubject_conten{
    display: flex;
}

.formdiv_contaniner input {
    width: 270px;
    padding: 6px;
    border: none;
    box-shadow: 1px 4px 11px 0px #1A374D;
}

.formdiv_contaniner_ch input {
    width: 22px;
    padding: 6px;
    border: none;
    box-shadow: 1px 4px 11px 0px #1A374D;
    height: 21px;
}

.exam_SubjectCOnatiner {
    padding: 1rem;
    background: #ffffff;
}
.formdiv_contaniner{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.examSubject_conten {
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    flex-wrap: wrap;
}
.examSubject_conten li {
    display: flex;
    gap: 1rem;
}

/* btns */
/* .create_exam_header button {
    background:rgb(26 55 77);
    border: 0;
    padding: 0 0.5rem;
    border-radius: 10px;
    color: #fff;
    font-weight: 700;
    padding: 10px;
    text-transform: uppercase;
} */

.UPDATE_-COURSE{
    background: rgb(20, 62, 126);
    border: 0;
    padding: 0 0.5rem;
    border-radius: 10px;
    color: #fff;
    font-weight: 700;
    padding: 10px;
}


/* .examBtn {
    margin-top: 1rem;
    margin-left: 88rem;
} */

#examCLose {
    position: absolute;
    top: -24px;
    right: 12px;
    background: #373f68;
    padding: 7px;
    color: #fff;
    border-radius: 16px;
}

/* table section */

.Create_exam_page {
    /* background: #c9d4dd; */
    padding: 1rem;
}

/* exam update section */

/* .examUpdate_-container */
.examUpdate_-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    background: redwi;
    background: #c9d4dd;
    width: 100vw;
    height: 100vh;
}

.examUpdate_-container form {
    background: #ffffff;
    padding: 4rem;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 10px;
}

.examUpdate_-contant{
    display: flex;
    /* flex-direction: column; */
    justify-content: space-between;
    gap: 1rem;
    margin-bottom: 10px;
}
.examSubjects_-contant{
    background: #f7f7f7;
}