
  @import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');

body{
    font-family: 'Libre Baskerville', serif;
}
label {
    font-size: 15px;
    font-weight: 500;
    color: rgb(0, 0, 0);
}

 select {
    width: 350px;
    padding: 6px;
    border: none;
    box-shadow: 1px 4px 11px 0px #1A374D;
}

 /* input {
    width: 350px;
    padding: 6px;
    border: none;
    box-shadow: 1px 4px 11px 0px #1A374D;
} */
input[type=text], input[type=number], input[type=date],input[type=time]{
    width: 350px;
    padding: 6px;
    border: none;
    box-shadow: 1px 4px 11px 0px #1A374D;
}

/* btns  */

/* .create_exam_header button {
    background: rgb(26 55 77);
    border: 0;
    padding: 0 0.5rem;
    border-radius: 10px;
    color: #fff;
    font-weight: 700;
    padding: 10px;
    text-transform: uppercase;
    float: right;
} */
.otc_-addExam {
    color: white;
    background: #1a374d;
    padding: 10px;
    margin-bottom: 5px;
    border: none;
    border-radius: 5px;
    box-shadow: 4px 6px 12px 0px #000000;
    float: right;
    font-weight: 800;
}
.ots_-createBtn{
    color: white;
    background: #1a374d;
    padding: 10px;
    margin-bottom: 5px;
    border: none;
    border-radius: 5px;
    box-shadow: 4px 6px 12px 0px #000000;
    float: right;
    font-weight: 800;
    margin-top: 10px;
}
.ots_btnClose {
    color: white;
    background: #ff8080;
    padding: 10px;
    margin-bottom: 5px;
    border: none;
    border-radius: 5px;
    box-shadow: 4px 6px 12px 0px #000000;
    float: right;
    font-weight: 800;
}
.EditDelete_-btns{
    display: flex;
    gap: 10px;
    justify-content: center;
}
.Ots_-edit {
    background: #00aff0;
    padding: 4px 9px;
    border-radius: 4px;
    color: white;
    border: navajowhite;
}
.Ots_-edit i{
    color: white;
}


.Ots_-delete {
    background: #ff8080;
    padding: 4px 9px;
    border-radius: 4px;
    color: white;
    border: navajowhite;
}
.Ots_-delete i{
    color: white;
}







/* table  --------------- */
.otc_-table {
    border-collapse: collapse;
    width: 100%;
    text-transform: uppercase;
}
.otc_-table tr th {
    font-size: 14px;
    padding: 5px;
}
.otc_-table_-tBody tr td {
    font-size: 15px;
    text-transform: uppercase;
    padding: 5px;
    /* text-align: center; */
}

.inputLable{
    width: 22px;
    padding: 6px;
    border: none;
    box-shadow: 1px 4px 11px 0px #1A374D;
    height: 21px;
}

.otsTitels {
    font-size: 12px;
    color: white;
    background: #37556c;
    padding: 10px;
    margin-bottom: 5px;
}
.otsGEt_-contantHead{
    background: #37556c;
    color: #fff;
    /* padding: 10px; */
}
.head {
    width: 100vw;
    background: #1a374d;
    position: absolute;
    height: 60px;
    box-shadow: 3px 0px 10px 0px;
}

.otsMainPages {
    margin: 6rem 2rem;
  }

  .textColor {
    text-transform: uppercase;
    background: #1a374d;
    padding: 10px;
    border-radius: 6px;
    color: #ffffff;
}

.otsTitels {
    font-size: 12px;
    color: white;
    background: #37556c;
    padding: 10px;
    margin-bottom: 5px;
}

.list_-otsTitels {
    font-size: 17px;
    color: #37556c;
    /* background: #37556c; */
    padding: 5px;
    margin-bottom: 5px;
    text-transform: uppercase;
}
/* 
.LeftnavLinks .logo_-clr{
    color: #00aff0;
} */



.error-message {
    color: red;
    margin-top: 5px; 
    font-size: small;
  }
  